@media (min-width: 500px) {
    .hero img {
        aspect-ratio: 2 / 1;
    }
}


@media (min-width: 800px) {

    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    header span {
        letter-spacing: 0.5rem;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        border-top: 1px solid var(--secondary-color);
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #me,
    #news {
        display: grid;
        gap: 1rem;
    }

    #me {
        grid-template-columns: 2fr 1fr;
    }

    #news {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .cards.list section {
        grid-template-columns: 2fr 1fr;
    }


    footer {
        font-size: 1.5rem;
    }

    footer a {
        font-size: 3em;
    }

}