:root {
    --primary-color: #333;
    --secondary-color: whitesmoke;

    --member-color: var(--secondary-color);
    --bronze: #cd7f32;
    --silver: #c0c0c0;
    --gold: #ffd700;


    --heading-font: "Limelight", serif;
    --body-font: "Lato", sans-serif;
}

/* Member Statuses */
/*member*/
.non-profit {
    --member-color: var(--secondary-color);
}

.bronze {
    --member-color: var(--bronze);
    border-color: var(--bronze);
}

.silver {
    --member-color: var(--silver);
    border-color: var(--silver);
}

.gold {
    --member-color: var(--gold);
    border-color: var(--gold);
}

/* Useful Spacing Classes */
.row {
    display: flex;
    gap: 1rem;

    justify-content: space-evenly;
    align-items: center;
}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
}

/* Acts as a button wrapper. */
.button,
button {
    border: var(--secondary-color) 2px solid;
}

.button {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    /* box-shadow: inset black 0 0 8px 5px; */
    /* filter: brightness(0.9); */
}

@keyframes curtainOpen {
    from {
        box-shadow: inset 0 0 0 9999px var(--member-color);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.curtain,
.curtain-1,
.curtain-2,
.curtain-3 {
    animation: curtainOpen 1.5s ease forwards 1;
}

.curtain-1 {
    animation-delay: .5s;
}

.curtain-2 {
    animation-delay: 1s;
}

.curtain-3 {
    animation-delay: 1.5s;
}



body {
    display: grid;
    background: repeating-linear-gradient(45deg,
            rgba(51, 51, 51, 0) 0,
            rgba(51, 51, 51, 0.03) 10px,
            rgba(255, 255, 255, 0) 15px,
            rgba(255, 255, 255, 0) 30px);

    /* Suddle Background */
    /* background: repeating-linear-gradient(45deg,
            white 0,
            rgba(51, 51, 51, 0.03) 15px,
            white 30px); */

    background-attachment: fixed;
    color: var(--primary-color);
    font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    align-self: center;
    letter-spacing: 0.1em;
    font-family: var(--heading-font);
}

header {
    position: relative;
    background-color: var(--primary-color);
}

header span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    padding: 0.25rem;
    margin: 0;
    letter-spacing: 0.25rem;
}

.brand {
    display: flex;
    /* logo + text side-by-side */
    align-items: center;
    gap: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-bottom-right-radius: 1rem;
    padding: 0.25rem;
    border-bottom: 1px solid;
    margin: 0;
}

h2,
h3 {
    background-color: var(--secondary-color);
}

main {
    /* padding-inline: 5%; */
    margin: 0 auto;
    width: min(1300px, 100%);
}

main :is(h2, h3) {
    padding: 0.5rem;
    text-align: center;
}

section {
    background-color: white;
    border: 2px solid var(--primary-color);
    margin: 1rem 0 0.5rem 0;
}

section img {
    box-shadow: 0 4px 8px var(--primary-color);
}

figure {
    padding: 1rem;
    align-content: center;
    justify-self: center;
}

figcaption {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: 0.4rem;
    border-radius: 3em;
    margin: 0.3rem;

    text-align: center;
}


button {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    /* text-decoration: none; */
}

a i {
    transition: 0.15s;
}

a:hover i {
    transition: 0.3s;
    transform: scale(1.2);
}

a:hover i.fa-github {
    color: mediumpurple;
}

a:hover i.fa-linkedin {
    color: lightskyblue;
}

a:hover i.fa-meteor {
    color: orange;
}

nav a[aria-current="page"] {
    font-weight: 1000;
    box-shadow: inset 0 0 0 3px lightgray;
}

form {
    background: white;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
}

/* form h2 {
    grid-column: 1 / -1;
    margin: .25rem 0 .5rem;
    padding: .5rem;
    text-align: center;
    background: var(--secondary-color);
    border-radius: .75rem;
    font-family: var(--heading-font);
} */

form label {
    display: flex;
    flex-direction: column;
    gap: .35rem;
    font-weight: 700;
    letter-spacing: .02em;
    font-family: var(--body-font);
}

form input,
form select,
form textarea {
    appearance: none;
    /* width: 50%; */
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: .75rem 1rem;
    font: 1rem/1.3 var(--body-font);
    transition: border .2s;
}

/* Textarea sizing */
form textarea {
    min-height: 7rem;
    resize: vertical;
}

/* Placeholder tone */
form ::placeholder {
    color: rgba(51, 51, 51, .55);
}

form label:has(*:required:invalid) span::after {
    color: red;
    content: " *";
}

/* Focus states */
form :is(input, select, textarea):focus {
    /* outline: none; */
    outline-color: var(--primary-color);
}

form :is(input, textarea):focus {
    border-left-width: 0.5em;
}

form :is(input, textarea):invalid:focus {
    border-left-color: red;
}

form :is(input, textarea):valid:focus {
    border-left-color: green;
}


dialog {
    width: clamp(50%, 100px, 720px);
    /* height: clamp(50%, fit-content 100%); */
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 20%);
}

dialog p {
    text-align: left;
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem .7rem !important;
    border-radius: inherit;
    /* border: 1px solid rgb(0 0 0 / 10%); */
}

/* form select {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--primary-color) 50%),
        linear-gradient(135deg, var(--primary-color) 50%, transparent 50%),
        linear-gradient(to right, transparent, transparent);
    background-position:
        calc(100% - 1.15rem) 1.15rem,
        calc(100% - .8rem) 1.15rem,
        100% 0;
    background-size: .45rem .45rem, .45rem .45rem, 2.5rem 100%;
    background-repeat: no-repeat;
    padding-right: 2.75rem;
} */


#menu {
    position: absolute;
    background: none;
    border: 0;
    top: 2rem;
    right: 0.2rem;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.4s;
}

#menu.open {
    top: 5.5rem;
    color: var(--secondary-color);
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "x";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: 1px solid #333;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s;
    letter-spacing: 0.2em;
}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: inset 0 0 0 5px var(--primary-color);
}

.navigation.open {
    border-top: 1px solid gray;
}

.navigation.open a {
    display: block;
}

.hero {
    display: block;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 1rem;
    aspect-ratio: 2 / 3;
}

.hero button,
.hero .button {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em 2em;
    border: 3px solid var(--secondary-color);
    bottom: 5%;
    right: 5%;
    text-decoration: none;
}


/* Might replace this because I have .row now. */
.filters,
.layouts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filters button,
.layouts button {
    transition: 0.2s;
    margin: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    flex: 0.45;
}

.filters button:hover,
.layouts button:hover {
    transform: scale(1.1);
}

.cards {
    margin: 1rem 0;
}

.cards :is(h2, h3, h4) {
    font-size: larger;
    padding: 1rem;
    border-radius: 1rem;
}

.cards section {
    margin: 0.5rem;
    padding: 0.5rem;

    border-radius: 1rem;
}

.cards section>:is(h2, h3, h4)+* {
    justify-self: center;
    margin: .5em;
}

.cards section img {
    box-shadow: none;
}

.cards span {
    display: block;
    margin: 0.3rem;
    padding: 0.4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3em;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.cards a {
    color: var(--primary-color)
}

.cards.list {
    min-width: min(400px, 100%);
}

.cards.list> :nth-child(even) {
    background-color: var(--secondary-color);
}

.cards.list span,
.cards.list img {
    display: none;
}

.cards.list h2 {
    background-color: initial;
}

.cards.list section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.25rem;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}



.courses-list {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#me {
    margin-bottom: 2rem;
}

#courses {
    text-align: center;
}

#courses span {
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3em;
    font-weight: 200;
    letter-spacing: -0.5px;
}

/* #courses button, */
#courses li {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#courses li.completed {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    opacity: 0.85;
    /* font-weight: lighter; */
}

#courses li.completed::before {
    position: absolute;
    margin-left: -1.2em;
    content: "✔";
    color: green;
}

#news {
    text-align: center;
}

#news p {
    font-size: large;
    margin: 1em;
}

#current-weather,
#weather-forecast {
    font-weight: 600;
}

#current-weather .row {
    gap: 0;
}

#current-weather img {
    height: auto;
    align-self: flex-start;
    flex: 1;
    box-shadow: none;
    margin-top: -1em;
}

#current-weather p {
    flex: 1.2;
}


#member section {
    width: fit-content;
    padding: 1rem;

    justify-self: center;
}

#reciept {
    font-size: large;
    margin: 1em;
}

#reciept span {
    font-weight: 300;
}

#places section {
    display: grid;
    grid-template-areas:
        "name"
        "image"
        "description"
        "location"
        "button";
}

#places h2 {
    grid-area: name;
}

#places figure {
    grid-area: image;
    overflow: hidden;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

#places img {
    transition: transform 0.4s;
    width: 300px;
}

#places address {
    grid-area: location;
    justify-self: center;
    margin: 0.2rem;
}

#places p {
    grid-area: description;
}

#places button {
    grid-area: button;
    display: block;
    padding: 0.5rem;
    height: 50px;
    margin-top: 1rem;
    justify-self: center;
}

.notification {
    position: fixed;
    left: unset;
    bottom: 1rem;
    padding-right: 2rem;
    margin-right: 1rem;

    max-width: 450px;
    height: auto;
    animation: fadeIn 0.4s ease-in 1s 1 backwards;
}

.notification p {
    margin-top: 1em;
}

footer {
    font-size: 1rem;
    font-weight: bold;
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    border-radius: 1em 1em 0 0;
    text-align: center;
    padding: 2rem;
}

footer a {
    font-size: 2em;
    margin: 0 1em 0 1em
}